/* body{
    background-color: #1dacbf;
}

.background-image-right{
    background: url('/image/sadness.png');
    background-repeat: no-repeat;
}

.number404{
    font-size: 5rem !important;
}

.textColor{
    color: #92e3ff;
}

.btn-outline-primary{
    background-color: #92e3ff;
    border-color: #92e3ff;
    color: #5380b6;
}
.btn-outline-primary:hover{
    background-color: #1484c3;
}

.mt-7{
    margin-top: 7rem;
} */