.row-content{
    margin-right: -20px !important;
    margin-left: -20px !important;
}

.background-image-right{
    background-image: url("/image/blue-bubble-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

.card-body{
    padding-right: 14px;
    padding-left: 15px;
}

.label, h2{
    color: #efe7e7 !important;
}

.hr-style-right,.hr-style-left{
    height: 1px;
    margin: 0px;
}

.hr-style-right{
    background-color: #efe7e7;
}

.hr-style-left{
    background-color: #01a8dc;
}

.font, .label-blue{
    color: #01a8dc !important;
}

.label{
    font-size: 1rem;
}

.has-float-label>span:last-of-type {
    background-color: #fff;
}

